// {
//   "plugins": [
//     ["prismjs", {
//       "languages": ["javascript", "css", "markup"],
//       "plugins": ["line-numbers"],
//       "theme": "dark",
//       "css": true
//     }]
//   ]
// }
